<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link href="./style.css" rel="stylesheet">

    <title>Controle de Orçamento</title>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row>
                        <!-- Início - Informações para o cadastro -->
                        <v-col cols="12">
                            <v-text-field
                                v-model="description"
                                clearable
                                id="description"
                                name="description"
                                label="Descrição"
                                type="text"
                            >
                            </v-text-field>

                            <v-text-field
                                v-model="amount"
                                clearable
                                id="amount"
                                name="amount"
                                label="Valor"
                                type="text"
                                prefix="R$"
                            >
                            </v-text-field>

                            <div class="d-flex justify-space-between flex-column flex-sm-row mt-10" style="gap: 20px;">
                                <v-date-picker
                                    v-model="datePicker"
                                    type="month"
                                >
                                </v-date-picker>

                                <!-- Início - Resultados do ano -->
                                <div class="order-first order-sm-last" style="height: max-content;">
                                    <h3>Resultados do ano de {{ yearSelected }}</h3>

                                    <v-select
                                        v-model="yearSelected"
                                        :items="years"
                                        label="Ano"
                                    ></v-select>

                                    <div
                                        v-if="resultsOfTheYearHasAnyRegister()"
                                        class="d-flex flex-column mt-4"
                                    >
                                    <div class="d-flex justify-space-between"  style="gap: 20px;">
                                        <div
                                            v-for="(budget, index) in resultsOfTheYear()"
                                            :key="index"
                                            class="d-flex align-center flex-column"
                                        >
                                            <p class="ma-0 text-center mb-2">
                                                {{ budget.title }}
                                            </p>

                                            <v-progress-circular
                                                :rotate="360"
                                                :size="100"
                                                :width="15"
                                                :value="((budget.total / amountOfTheCurrentYear) * 100)"
                                                :color="budget.color"
                                            >
                                                {{ ((budget.total / amountOfTheCurrentYear) * 100).toFixed(2) }}
                                            </v-progress-circular>

                                            <p class="ma-0 text-center mt-2">
                                                {{ budget.total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
                                            </p>
                                        </div>
                                    </div>

                                        <h3 class="mt-10">Meses de destaque</h3>

                                        <div class="d-flex justify-space-between mt-6"  style="gap: 20px;">
                                            <div
                                                v-for="(element, index) in bestMonths()"
                                                :key="index"
                                                class="month-result-container d-flex align-center flex-column"
                                                :class="element.type"
                                            >
                                                <v-icon>
                                                    {{
                                                        element.type === 'gain' ? 'mdi-cash-plus' : ''
                                                    }}
                                                    {{
                                                        element.type === 'investment' ? 'mdi-piggy-bank-outline' : ''
                                                    }}
                                                    {{
                                                        element.type === 'cost' ? 'mdi-cash-minus' : ''
                                                    }}
                                                </v-icon>

                                                <p class="ma-0 mt-2 text-center">
                                                    <strong>{{ getMonthByNumber(element.month) }}</strong> {{ element.total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <p v-else class="ma-0 text-center mt-2">
                                        Nenhum registro encontrado para o ano de {{ yearSelected }}
                                    </p>
                                </div>
                                <!-- Fim - Resultados do ano -->
                            </div>

                            <v-radio-group
                                v-model="typeBudget"
                                column
                            >
                                <v-radio
                                    label="Ganho"
                                    color="success"
                                    value="gain"
                                >
                                </v-radio>

                                <v-radio
                                    label="Investimento"
                                    color="info"
                                    value="investment"
                                >
                                </v-radio>

                                <v-radio
                                    label="Despesa"
                                    color="error"
                                    value="cost"
                                >
                                </v-radio>
                            </v-radio-group>

                            <v-btn
                                color="primary"
                                :disabled="disabledRegisterButton"
                                :loading="loadingRegisterBudget"
                                @click="registerBudget"
                            >
                                Registrar
                            </v-btn>
                            <!-- Fim - Informações para o cadastro -->

                            <!-- Início - Filtros -->
                            <div class="mt-12">
                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            <div>
                                                <v-icon
                                                    class="mr-2"
                                                    style="background:#dfdede;border-radius:50%;padding:5px;"
                                                >
                                                    mdi-filter-variant
                                                </v-icon>

                                                FILTROS
                                            </div>
                                        </v-expansion-panel-header>

                                        <v-expansion-panel-content>
                                            <div class="d-flex flex-column flex-md-row align-start justify-space-between">
                                                <v-date-picker
                                                    v-model="datePickerFilter"
                                                    type="month"
                                                >
                                                </v-date-picker>

                                                <v-text-field
                                                    style="width: 100%;"
                                                    class="mx-md-10 mt-6 mt-md-0"
                                                    v-model="descriptionFilter"
                                                    clearable
                                                    id="descriptionFilter"
                                                    name="descriptionFilter"
                                                    label="Descrição"
                                                    type="text"
                                                >
                                                </v-text-field>

                                                <v-radio-group
                                                    v-model="typeBudgetFilter"
                                                    column
                                                >
                                                    <v-radio
                                                        label="Ganho"
                                                        color="success"
                                                        value="gain"
                                                    >
                                                    </v-radio>

                                                    <v-radio
                                                        label="Investimento"
                                                        color="info"
                                                        value="investment"
                                                    >
                                                    </v-radio>

                                                    <v-radio
                                                        label="Despesa"
                                                        color="error"
                                                        value="cost"
                                                    >
                                                    </v-radio>

                                                    <v-radio
                                                        label="Nenhum"
                                                        color="grey"
                                                        value=""
                                                    >
                                                    </v-radio>
                                                </v-radio-group>
                                            </div>

                                            <v-btn
                                                class="mt-5"
                                                color="primary"
                                                @click="clearFilter"
                                            >
                                                Limpar Filtros
                                            </v-btn>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </div>
                            <!-- Fim - Filtros -->

                            <!-- Início - Informações Gerais -->
                            <div class="d-flex flex-column flex-sm-row align-start align-sm-center justify-space-between mt-12">
                                <div>
                                    <strong style="color: #4caf50;">Ganhos</strong>

                                    <p style="color: #9e9e9e;">{{ calculateGains() }}</p>
                                </div>

                                <div>
                                    <strong style="color: #2196f3;">Investimentos</strong>

                                    <p style="color: #9e9e9e;">{{ calculateInvestments() }}</p>
                                </div>

                                <div>
                                    <strong style="color: #ff5252;">Despesas</strong>

                                    <p style="color: #9e9e9e;">{{ calculateCosts() }}</p>
                                </div>

                                <div>
                                    <strong>Fechamento do Mês</strong>

                                    <p style="color: #9e9e9e;">{{ calculateAmountMonth() }}</p>
                                </div>
                            </div>
                            <!-- Fim - Informações Gerais -->

                            <!-- Início - Listagem dos registros -->
                            <div v-if="$vuetify.breakpoint.mdAndUp" class="d-flex mb-5">
                                <v-tooltip right>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                            class="mr-4"
                                            icon
                                            color="#535353"
                                            @click="changeMdSize"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            <v-icon>
                                                {{ mdSize === '6' ? 'mdi-format-list-bulleted-square' : 'mdi-grid-large' }}
                                            </v-icon>
                                        </v-btn>
                                    </template>

                                    <span>{{ mdSize === '6' ? 'Modo lista' : 'Modo grid' }}</span>
                                </v-tooltip>
                            </div>

                            <v-row>
                                <v-col
                                    v-if="filterBudgetItems().length > 0"
                                    :cols="12"
                                    :md="mdSize"
                                    v-for="item in filterBudgetItems()"
                                    :key="item.id"
                                >
                                    <v-card
                                        :class="returnBorderCardClass(item.typeBudget)"
                                        :style="`border: 1px solid ${returnCardBorderColor(item.typeBudget)}`"
                                    >
                                        <v-card-title class="d-flex justify-space-between align-center">
                                            {{ item.date }}

                                            <v-checkbox
                                                v-if="item.typeBudget === 'cost'"
                                                v-model="item.payed"
                                                label="Pago"
                                                color="success"
                                                value=""
                                                @click="checkPayed({ id: item.id, payed: item.payed })"
                                            >
                                            </v-checkbox>
                                        </v-card-title>

                                        <v-card-text class="card__text">
                                            <p>{{ item.description }}</p>

                                            <p class="card__text__amount mt-2">
                                                <v-icon>
                                                    {{
                                                        item.typeBudget === 'gain' ? 'mdi-cash-plus' : ''
                                                    }}
                                                    {{
                                                        item.typeBudget === 'investment' ? 'mdi-piggy-bank-outline' : ''
                                                    }}
                                                    {{
                                                        item.typeBudget === 'cost' ? 'mdi-cash-minus' : ''
                                                    }}
                                                </v-icon>

                                                {{ Number(item.amount).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</p>
                                        </v-card-text>

                                        <v-card-actions>
                                            <v-btn icon @click="openUpdateModal(item.id)">
                                                <v-icon>
                                                    mdi-pencil
                                                </v-icon>
                                            </v-btn>

                                            <v-btn icon @click="openDeleteModal(item.id)">
                                                <v-icon>
                                                    mdi-trash-can
                                                </v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                            </v-row>

                            <div
                                class="d-flex flex-column mt-10"
                                v-if="filterBudgetItems().length <= 0"
                            >
                                <v-icon size="45">
                                    mdi-emoticon-dead-outline
                                </v-icon>

                                <p class="text-center ma-0">
                                    Nenhum registro encontrado para o mes de <strong>{{ getFullMonthByNumber(datePickerFilter.split('-')[1]) }} de {{ datePickerFilter.split('-')[0] }}</strong>
                                </p>
                            </div>
                        </v-col>
                        <!-- Fim - Listagem dos registros -->

                        <!-- Início - Modal de confirmação de exclusão do registro -->
                        <v-dialog
                            v-model="deleteDialog.isOpen"
                            persistent
                            max-width="290"
                        >
                            <v-card>
                                <v-card-title class="text-h5">
                                    Atenção
                                </v-card-title>

                                <v-card-text>
                                    Realmente deseja excluir esse registro?
                                </v-card-text>

                                <v-card-actions>

                                    <v-spacer></v-spacer>

                                    <v-btn
                                        color="red darken-1"
                                        text
                                        @click="closeDeleteModal"
                                    >
                                        Cancelar
                                    </v-btn>

                                    <v-btn
                                        color="green darken-1"
                                        text
                                        :loading="loadingDeleteBudget"
                                        @click="removeItemFromBudget"
                                    >
                                        Excluir
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- Fim - Modal de confirmação de exclusão do registro -->

                        <!-- Início - Modal de edição do registro -->
                        <v-row justify="center">
                            <v-dialog
                              v-model="updateDialog.isOpen"
                              persistent
                              max-width="600px"
                            >
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">Atualizar Registro</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        v-model="descriptionUpdate"
                                                        clearable
                                                        id="descriptionUpdate"
                                                        name="descriptionUpdate"
                                                        label="Descrição"
                                                        type="text"
                                                    >
                                                    </v-text-field>
                                                </v-col>

                                                <v-col cols="12">
                                                    <v-text-field
                                                        v-model="amountUpdate"
                                                        clearable
                                                        id="amountUpdate"
                                                        name="amountUpdate"
                                                        label="Valor"
                                                        type="number"
                                                        prefix="R$"
                                                    >
                                                    </v-text-field>
                                                </v-col>

                                                <v-col cols="12">
                                                    <v-radio-group
                                                        v-model="typeBudgetUpdate"
                                                        column
                                                    >
                                                        <v-radio
                                                            label="Ganho"
                                                            color="success"
                                                            value="gain"
                                                        >
                                                        </v-radio>

                                                        <v-radio
                                                            label="Investimento"
                                                            color="info"
                                                            value="investment"
                                                        >
                                                        </v-radio>

                                                        <v-radio
                                                            label="Despesa"
                                                            color="error"
                                                            value="cost"
                                                        >
                                                        </v-radio>
                                                    </v-radio-group>
                                                </v-col>

                                                <v-col cols="12">
                                                    <v-date-picker
                                                        v-model="datePickerUpdate"
                                                        type="month"
                                                    >
                                                    </v-date-picker>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>

                                        <v-btn
                                            color="red darken-1"
                                            text
                                            @click="closeUpdateModal()"
                                        >
                                            Fechar
                                        </v-btn>

                                        <v-btn
                                            color="green darken-1"
                                            text
                                            :disabled="disabledUpdateButton"
                                            :loading="loadingUpdateBudget"
                                            @click="UpdateItemInBudget"
                                        >
                                            Salvar
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-row>
                        <!-- Fim - Modal de edição do registro -->


                        <!-- Início - Snackbar de mensagens de erro -->
                        <v-snackbar
                            v-model="showSnackbarError"
                            left
                        >
                            {{ snackbarErrorText }}

                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    color="primary"
                                    text
                                    v-bind="attrs"
                                    @click="showSnackbarError = false"
                                >
                                    Fechar
                                </v-btn>
                            </template>
                        </v-snackbar>
                        <!-- Fim - Snackbar de mensagens de erro -->
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>

    <script type='module'>
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js';
        import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js';
        import { getDatabase  } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js';

        const firebaseConfig = {
            apiKey: 'AIzaSyAtnEYuv1143o0moZlasJJyW6AiCBQ8OAU',
            authDomain: 'budget-control-6341c.firebaseapp.com',
            databaseURL: 'https://budget-control-6341c-default-rtdb.firebaseio.com',
            projectId: 'budget-control-6341c',
            storageBucket: 'budget-control-6341c.appspot.com',
            messagingSenderId: '878743482937',
            appId: '1:878743482937:web:c420845c4545a20ed993e8',
            measurementId: 'G-NY4X5YSBPT'
        };

        // Iniciando Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const database = getDatabase(app);
    </script>

    <script type='module' src='./script.js'></script>
</body>
</html>