.v-picker {
    border: 1px solid black;
    height: max-content;
}

.v-radio {
    width: max-content;
}

.per-page-select .v-input__control .v-input__slot {
    width: 100px;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #A8B6C2;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #EDF1F4;
}

::-webkit-scrollbar-thumb {
    background-color: #A8B6C2;
    border-radius: 5px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    display: none;
}
