.month-result-container.gain .v-icon {
    color: #4caf50;
    background: #d1ebd2;
    border-radius: 50%;
    padding: 10px;
}

.month-result-container.investment .v-icon {
    color: #2196f3;
    background: #cbe4f7;
    border-radius: 50%;
    padding: 10px;
}

.month-result-container.cost .v-icon {
    color: #ff5252;
    background: #fde9e9;
    border-radius: 50%;
    padding: 10px;
}