.card__gain {
    border: 1px solid #4caf50 !important;
}

.card__investment {
    border: 1px solid #2196f3 !important;
}

.card__cost {
    border: 1px solid #ff5252 !important;
}

.card__gain .v-card__text p,
.card__investment .v-card__text p,
.card__cost .v-card__text p {
    margin: 0;
    padding: 0;
}

.card__gain .card__text .card__text__amount,
.card__gain .card__text .card__text__amount .v-icon {
    color: #4caf50;
}

.card__gain .card__text .card__text__amount .v-icon {
    background: #d1ebd2;
    border-radius: 50%;
    padding: 5px;
}

.card__investment .card__text .card__text__amount,
.card__investment .card__text .card__text__amount .v-icon {
    color: #2196f3;
}

.card__investment .card__text .card__text__amount .v-icon {
    background: #cbe4f7;
    border-radius: 50%;
    padding: 5px;
}


.card__cost .card__text .card__text__amount,
.card__cost .card__text .card__text__amount .v-icon {
    color: #ff5252 ;
}

.card__cost .card__text .card__text__amount .v-icon {
    color: #ff5252 ;
    background: #fde9e9;
    border-radius: 50%;
    padding: 5px;
}

.checkbox-payed {
    margin: 0;
}

.checkbox-payed .v-input__control .v-input__slot {
    margin: 0;
}

.checkbox-payed .v-messages {
    display: none;
}